<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.svalero.bookingexam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".feature.register.RegisterActivity"></activity>
        <activity android:name=".feature.FinalSplashActivity" />
        <activity android:name=".feature.reservation.ReservationActivity" />
        <activity android:name=".feature.custom_search.SearchActivity" />
        <activity android:name=".feature.room.RoomActivity" />
        <activity android:name=".feature.list_booked.BookActivity" />
        <activity android:name=".feature.description.DescriptionActivity" />
        <activity android:name=".feature.filter.FilterActivity" /> <!-- <activity android:name=".feature.list_hotels.ListHotelsActivity" /> -->
        <activity android:name=".feature.list_hotels.ListHotelsActivity" />
        <activity android:name=".feature.login.LoginActivity" />
        <activity android:name=".feature.MainActivity" />
        <activity android:name=".feature.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>